
body, html {
    width: 100%;
    height: 100%;
}

.my-trips-container {
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),url("../img/background.jpg") no-repeat center center fixed; 
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.my-trips-header {
    margin-top: 280px;
    margin-bottom: 15px;
    display: inline-block;
    width: 100%;
}

.my-trips-header-title {
    margin-bottom: 5px;
    font-weight: 700;
}

.my-trips-list-wrapper {
    padding: 16px 0;
    position: relative;
    width: 60%

}

.trip-row {
    margin-left: -8px;
    margin-right: -8px;
}

.my-trips-list-content {
    padding-left: 16px;
    padding-right: 16px;
    float: left;
    width: 100%;
    position: relative;
    min-height: 1px;
}

.my-trip-item-table {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
}

.my-trip-item-table-row {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}

.my-trip-item-table-row.even {
    background-color: #F8FBFF;
}

.my-trip-item-table-row-base {
    display: flex;
    width: 100%;
    min-height: 65px;
    border-bottom: 1px solid #D2D6D9;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.my-trip-item-table-dir {
    -ms-flex-positive: 1;
    flex-grow: 1;
    justify-content: center;
    padding-right: 24px;
}

.my-trip-item-table-date {
    width: 180px;
    justify-content: center;
    align-self: center;
}

.space-between-item {
    margin: 10px
}

.fixed-top-navbar {
    position: fixed;
    top: 20px;
    left: 0px;
    width: 100%;
}

@media screen and (max-width: 750px) and (min-width: 550px) {
    .my-trips-list-wrapper {
        padding: 16px 0;
        position: relative;
        width: 80%
    
    }

    .my-trip-item-table-date {
        width: 160px;
        justify-content: center;
        align-self: center;
    }
} 

/* Mobile */
@media screen and (max-width: 550px) and (min-width: 150px) {
    .my-trips-list-wrapper {
        padding: 16px 0;
        position: relative;
        width: 100%
    
    }

    .my-trip-item-table-dir {
        -ms-flex-positive: 1;
        flex-grow: 1;
        justify-content: center;
    }

    .my-trip-item-table-date {
        width: 160px;
        justify-content: center;
        align-self: center;
    }

} 